@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@500&display=swap');

.titulo-box{
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    color: var(--foreground);
    font-family: "Pacifico", cursive;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.proposal-text {
  font-family: 'Pacifico', cursive; 
  font-size: 3.5rem; 
  color: var(--foreground); 
  text-align: center;
  padding: 20px;
  max-width: 90%;
  line-height: 1.4;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}
.buttons-container {
  margin-top: 30px;
  display: flex;
  gap: 20px; 
}

.btn {
  padding: 12px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px; 
  cursor: pointer;
  font-family: 'Quicksand', sans-serif; 
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: background 0.3s;
}

.btn-yes {
  background-color: var(--foreground); 
  color: white;
}

.btn-yes:hover {
  background-color: #e60000;
}

.btn-no {
  background-color: white;
  color: #ff4d4d;
  border: 2px solid #ff4d4d;
}

.btn-no:hover {
  background-color: #fff0f0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px); 
}

.modal-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.3);
  max-width: 90%;
  width: 400px;
}

.modal-content-body {
  margin-bottom: 10px;
  padding: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.modal-content h2 {
  color: #ff4d4d;
  margin:auto;
  padding: auto;
  font-family: 'Pacifico', cursive;
}

.modal-content p {
  color: #666;
  font-size: 1.1rem;
  margin-bottom: 10px;
  text-align: center;
  justify-content: center;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn-modal-yes {
  background-color: #ccc;
  color: #333;
}

.btn-modal-no {
  background-color: #ff4d4d;
  color: white;
}

@media (max-width: 768px) {
  .proposal-text {
    font-size: 2rem;
  }
}